.container .credit {
  margin: 20px 0;
}

a:hover {
  cursor:pointer;
}

#wrap > .container {
  padding-top: 60px;
}

.nav-well {
  padding: 8px 0px;
}

.navbar-pic {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 3px;
}

.navbar-inverse .brand {
  color: white;
}

#sidebar {
  width: 268px;
}
